In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('Train_dataset.xlsx')

In [3]:
df.head(5)

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,Female,Mrs,mansi,YES,1.0,Farmer,Public,2,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,Female,Mrs,riya masi,YES,2.0,Farmer,Walk,2,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,Female,Mrs,sunita,NO,1.0,Cleaner,Public,2,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,Female,Mrs,anjali @ babli,YES,1.0,Driver,Car,2,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,Female,Mrs,champa karketta,NO,2.0,Manufacturing,Car,2,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [4]:
df.tail()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
10709,22691,Bengaluru,Male,Mr,ashish,NO,2.0,Business,Car,8,...,24.0,209.0,61.0,56.0,35,7,4000000.0,300000,0.0,41.981760
10710,22692,Bengaluru,Male,Mr,mohd mujahid ansari,YES,0.0,Manufacturing,Car,8,...,134.0,211.0,65.0,47.0,35,7,1500000.0,700000,NaN,47.148663
10711,22693,Bengaluru,Male,Mr,munnakumar,YES,0.0,Clerk,Public,8,...,151.0,296.0,87.0,37.0,16,5,3000000.0,2100000,2.0,47.708533
10712,22694,Bengaluru,Male,Mr,prakash,YES,1.0,Legal,Walk,8,...,110.0,253.0,56.0,70.0,28,5,2900000.0,700000,1.0,53.803565
10713,22695,Bengaluru,Male,Mr,mehboob mehandi,NO,2.0,Business,Car,8,...,134.0,201.0,82.0,60.0,4,3,2100000.0,1400000,0.0,68.342400

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 28 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Name                      10694 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Occupation                9967 non-null object
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(10)
memory usage: 2.3+ MB

In [6]:
df.describe()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
count,10714.000000,10403.000000,10714.000000,10714.000000,10714.000000,10714.000000,9998.000000,9790.000000,10698.000000,9600.000000,9600.000000,10679.000000,10714.000000,10714.000000,9.624000e+03,1.071400e+04,9991.000000,10714.000000
mean,10084.893784,1.062770,3.285888,0.523241,42.083722,9.013067,278.806261,87.795812,116.170967,275.292292,74.847396,52.632737,20.028094,5.015027,2.644919e+06,1.304713e+06,1.004604,52.280680
std,7108.663645,0.818222,2.721274,0.854303,15.323397,3.714970,97.985526,41.851103,55.178811,43.669692,14.869104,10.434293,11.828445,1.399770,1.383346e+06,6.075947e+05,0.815257,10.674667
min,1.000000,0.000000,1.000000,0.000000,16.000000,3.000000,110.000000,15.000000,20.000000,200.000000,50.000000,35.000000,0.000000,3.000000,3.000000e+05,3.000000e+05,0.000000,29.289600
25%,2679.250000,0.000000,2.000000,0.000000,29.000000,6.000000,194.000000,52.000000,68.000000,237.000000,62.000000,44.000000,10.000000,4.000000,1.400000e+06,8.000000e+05,0.000000,47.277426
50%,10003.500000,1.000000,2.000000,0.000000,42.000000,9.000000,276.000000,88.000000,117.000000,276.000000,75.000000,53.000000,20.000000,5.000000,2.600000e+06,1.300000e+06,1.000000,49.008389
75%,15141.750000,2.000000,4.000000,1.000000,55.000000,12.000000,364.000000,124.000000,165.000000,313.000000,88.000000,62.000000,30.000000,6.000000,3.800000e+06,1.800000e+06,2.000000,52.762313
max,22695.000000,2.000000,8.000000,2.000000,68.000000,15.000000,450.000000,160.000000,210.000000,350.000000,100.000000,70.000000,40.000000,7.000000,5.000000e+06,2.300000e+06,2.000000,97.632000

In [7]:
df.isnull().sum()

people_ID                    0
Region                       0
Gender                       0
Designation                  0
Name                        20
Married                      0
Children                   311
Occupation                 747
Mode_transport               3
cases/1M                     0
Deaths/1M                    0
comorbidity                226
Age                          0
Coma score                   0
Pulmonary score              0
cardiological pressure      97
Diuresis                   716
Platelets                  924
HBB                         16
d-dimer                   1114
Heart rate                1114
HDL cholesterol             35
Charlson Index               0
Blood Glucose                0
Insurance                 1090
salary                       0
FT/month                   723
Infect_Prob                  0
dtype: int64

In [8]:
df.columns

Index(['people_ID', 'Region', 'Gender', 'Designation', 'Name', 'Married',
       'Children', 'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M',
       'comorbidity', 'Age', 'Coma score', 'Pulmonary score',
       'cardiological pressure', 'Diuresis', 'Platelets', 'HBB', 'd-dimer',
       'Heart rate', 'HDL cholesterol', 'Charlson Index', 'Blood Glucose',
       'Insurance', 'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [9]:
df_new=df.drop('Region',axis=1)

In [10]:
df_new=df_new.drop('Name',axis=1)

In [11]:
df_new.head()

,people_ID,Gender,Designation,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Female,Mrs,YES,1.0,Farmer,Public,2,0,Hypertension,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Female,Mrs,YES,2.0,Farmer,Walk,2,0,Diabetes,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Female,Mrs,NO,1.0,Cleaner,Public,2,0,None,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Female,Mrs,YES,1.0,Driver,Car,2,0,Coronary Heart Disease,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Female,Mrs,NO,2.0,Manufacturing,Car,2,0,Diabetes,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [12]:
df2=pd.read_csv('prediction_27thMarch.csv')
df_new['Diuresis']=df2['27-03-2020 00:00']

In [13]:
X=df_new.iloc[:,:-1].values
y=df_new.iloc[:,-1].values

In [14]:
X

array([[1, 'Female', 'Mrs', ..., 3600000.0, 1300000, 2.0],
       [2, 'Female', 'Mrs', ..., 1600000.0, 400000, 1.0],
       [3, 'Female', 'Mrs', ..., 3400000.0, 900000, 1.0],
       ...,
       [22693, 'Male', 'Mr', ..., 3000000.0, 2100000, 2.0],
       [22694, 'Male', 'Mr', ..., 2900000.0, 700000, 1.0],
       [22695, 'Male', 'Mr', ..., 2100000.0, 1400000, 0.0]], dtype=object)

In [15]:
y

array([49.13500977, 51.14788025, 73.224     , ..., 47.70853342,
       53.80356494, 68.3424    ])

In [16]:
from sklearn.preprocessing import Imputer
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)

C:\Users\User\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [17]:
import pandas as pd
import numpy as np

from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)


X = pd.DataFrame(X)
xt = DataFrameImputer().fit_transform(X)

print('before...')
print(X)
print('after...')
print(xt)

before...
          0       1    2    3    4              5       6  7  8   \
0          1  Female  Mrs  YES    1         Farmer  Public  2  0
1          2  Female  Mrs  YES    2         Farmer    Walk  2  0
2          3  Female  Mrs   NO    1        Cleaner  Public  2  0
3          4  Female  Mrs  YES    1         Driver     Car  2  0
4          5  Female  Mrs   NO    2  Manufacturing     Car  2  0
5          6  Female  Mrs  YES    1          Clerk  Public  2  0
6          7  Female  Mrs  YES    2  Manufacturing     Car  2  0
7          8  Female  Mrs  YES    1  Manufacturing  Public  2  0
8          9  Female  Mrs  YES    2          Sales  Public  2  0
9         10  Female  Mrs  YES    1         Farmer  Public  2  0
10        11  Female  Mrs  YES    1  Manufacturing  Public  2  0
11        12  Female  Mrs  YES    0         Driver     Car  2  0
12        13  Female  Mrs   NO  NaN            NaN  Public  2  0
13        14  Female  Mrs  YES    2       Business  Public  2  0
14        15  Female  Mrs  YES    2  Manufacturing  Public  2  0
15        16  Female  Mrs  YES    1         Farmer    Walk  2  0
16        17  Female  Mrs  YES    2          Sales  Public  2  0
17        18  Female  Mrs  YES    0     Researcher    Walk  2  0
18        19  Female  Mrs  YES    1          Clerk  Public  2  0
19        20  Female  Mrs  YES    2     Researcher  Public  2  0
20        21  Female  Mrs  YES    0     Researcher     Car  2  0
21        22  Female  Mrs   NO  NaN            NaN  Public  2  0
22        23  Female  Mrs   NO    2         Driver  Public  2  0
23        24  Female  Mrs  YES    1        Cleaner     Car  2  0
24        25  Female  Mrs   NO    2          Clerk     Car  2  0
25        26  Female  Mrs  YES    0         Farmer  Public  2  0
26        27  Female  Mrs  YES    2  Manufacturing  Public  2  0
27        28  Female  Mrs  YES    1  Manufacturing  Public  2  0
28        29  Female  Mrs  YES    2         Driver  Public  2  0
29        30  Female  Mrs  YES    1  Manufacturing     Car  2  0
...      ...     ...  ...  ...  ...            ...     ... .. ..
10684  22666    Male   Mr  YES    0  Manufacturing    Walk  8  2
10685  22667    Male   Mr  YES    2         Farmer     Car  8  2
10686  22668    Male   Mr  YES    0          Sales  Public  8  2
10687  22669    Male   Mr  YES    0        Cleaner  Public  8  2
10688  22670    Male   Mr  YES    2         Farmer     Car  8  2
10689  22671    Male   Mr  YES    1         Driver     Car  8  2
10690  22672    Male   Mr   NO  NaN            NaN     Car  8  2
10691  22673    Male   Mr  YES    1       Business  Public  8  2
10692  22674    Male   Mr  YES    0     Researcher     Car  8  2
10693  22675    Male   Mr   NO    2        Cleaner  Public  8  2
10694  22676    Male   Mr  YES    0          Sales    Walk  8  2
10695  22677    Male   Mr  YES    0         Farmer    Walk  8  2
10696  22678    Male   Mr  YES    1        Cleaner    Walk  8  2
10697  22679    Male   Mr  YES    2         Farmer  Public  8  2
10698  22680    Male   Mr   NO    1         Farmer     Car  8  2
10699  22681    Male   Mr  YES    2         Driver  Public  8  2
10700  22682    Male   Mr  YES    1          Clerk    Walk  8  2
10701  22683    Male   Mr  YES    0          Legal  Public  8  2
10702  22684    Male   Mr  YES    1  Manufacturing     Car  8  2
10703  22685    Male   Mr  YES    2          Legal  Public  8  2
10704  22686    Male   Mr  YES    2     Researcher    Walk  8  2
10705  22687    Male   Mr  YES    2  Manufacturing  Public  8  2
10706  22688    Male   Mr  YES    2          Clerk  Public  8  2
10707  22689    Male   Mr   NO  NaN          Legal     Car  8  2
10708  22690    Male   Mr  YES    1         Farmer  Public  8  2
10709  22691    Male   Mr   NO    2       Business     Car  8  2
10710  22692    Male   Mr  YES    0  Manufacturing     Car  8  2
10711  22693    Male   Mr  YES    0          Clerk  Public  8  2
10712  22694    Male   Mr  YES    1          Legal    Walk  8  2
10713  22695    Male   Mr   NO    2       Business     Car  8  2

                           9  ...    15   16   17   18  19  20 21       22  \
0                Hypertension ...   154   93  233   82  58  27  7  3.6e+06
1                    Diabetes ...   121   56  328   89  68   5  6  1.6e+06
2                        None ...   124  137  213   77  43  40  6  3.4e+06
3      Coronary Heart Disease ...    98  167  275   64  60  27  7   700000
4                    Diabetes ...    21  153  331   71  64  32  7  3.2e+06
5                        None ...   139   86  216   94  38   5  5  4.6e+06
6      Coronary Heart Disease ...    75  156  311   99  68  23  5    4e+06
7                    Diabetes ...   123  179  242   82  59  34  3  4.1e+06
8                Hypertension ...   NaN  156  NaN  NaN  37  21  7  4.5e+06
9                        None ...    23  178  277   83  58  28  4  2.2e+06
10                       None ...    32   24  203   62  51  31  4  4.2e+06
11     Coronary Heart Disease ...    30   66  224   54  68  14  5    1e+06
12                   Diabetes ...    39  174  213   98  43  33  3      NaN
13               Hypertension ...    17   48  333   99  51  31  5  3.5e+06
14     Coronary Heart Disease ...   NaN   24  NaN  NaN  38   4  6  2.5e+06
15               Hypertension ...    48   66  348   94  56  15  3    5e+06
16     Coronary Heart Disease ...   150  113  306   53  43  17  6  4.7e+06
17                   Diabetes ...   123  173  349   74  63  29  6   300000
18     Coronary Heart Disease ...    80  177  287   52  66  37  4  3.9e+06
19                   Diabetes ...    89  170  239   57  41  25  4  1.3e+06
20                       None ...   128  133  325   73  36  38  3  2.1e+06
21                       None ...    25   32  343   56  40  20  5      NaN
22                       None ...   133  194  215   88  50  33  5  4.1e+06
23                   Diabetes ...    25  158  342   97  61  22  3  3.7e+06
24                       None ...    58  204  217   79  37   5  4  4.1e+06
25     Coronary Heart Disease ...   158   96  291   95  67  39  6  3.1e+06
26     Coronary Heart Disease ...   139  176  277   61  59  32  7  4.5e+06
27                   Diabetes ...    70  190  339   84  48   2  5  2.9e+06
28     Coronary Heart Disease ...   151   42  200   74  46   8  7    4e+06
29     Coronary Heart Disease ...   156  176  284   76  59   0  6   800000
...                       ... ...   ...  ...  ...  ...  ..  .. ..      ...
10684                    None ...    97  101  226   61  43  31  3  4.5e+06
10685                    None ...   123  111  317   90  36  29  5  3.2e+06
10686  Coronary Heart Disease ...    43   29  303   53  68  27  6   400000
10687                Diabetes ...    21   79  322   88  39  19  3  2.5e+06
10688                Diabetes ...   NaN  159  NaN  NaN  39  12  5  4.5e+06
10689  Coronary Heart Disease ...    99  194  343   80  63  10  7  2.8e+06
10690                    None ...    33   64  320   94  42  36  7      NaN
10691                    None ...    18   38  226   79  49  13  4  4.8e+06
10692  Coronary Heart Disease ...   117  175  320   95  66   1  4  2.2e+06
10693  Coronary Heart Disease ...   115  117  328   82  59  23  5  3.4e+06
10694  Coronary Heart Disease ...    19  161  259   55  54  37  5  4.3e+06
10695                Diabetes ...   115   43  258   93  50  13  3    1e+06
10696                Diabetes ...    45  121  342   66  63  37  6  2.3e+06
10697                Diabetes ...   146  150  235   95  39   1  5   700000
10698                    None ...    86  154  268   84  35   2  4  2.2e+06
10699            Hypertension ...    45  114  349   76  52   3  4  4.8e+06
10700            Hypertension ...    50  134  343   78  54  24  6  1.4e+06
10701            Hypertension ...    42   55  274   96  40  37  6   700000
10702  Coronary Heart Disease ...    90   92  234   76  44  31  7   300000
10703  Coronary Heart Disease ...   121   93  205   67  67   6  7  3.6e+06
10704                    None ...   146   72  307   60  58  35  4  4.4e+06
10705            Hypertension ...    29   98  226   89  39  13  7  3.4e+06
10706            Hypertension ...    53   77  258   67  63   1  4  4.9e+06
10707                    None ...   107   33  271   67  68  38  3      NaN
10708                Diabetes ...    78  150  337   69  44  31  3  3.3e+06
10709                Diabetes ...    67   24  209   61  56  35  7    4e+06
10710                    None ...   102  134  211   65  47  35  7  1.5e+06
10711                Diabetes ...   111  151  296   87  37  16  5    3e+06
10712  Coronary Heart Disease ...   140  110  253   56  70  28  5  2.9e+06
10713                Diabetes ...    65  134  201   82  60   4  3  2.1e+06

            23   24
0      1300000    2
1       400000    1
2       900000    1
3      2300000    1
4      1100000    1
5      1900000    2
6      1600000    1
7      1200000    0
8       900000    0
9      1400000    2
10     1100000    0
11      300000    0
12     2300000    2
13     2200000    2
14      800000    1
15     2200000    1
16     1200000    0
17     1700000    1
18     2300000    0
19      800000    0
20     1600000  NaN
21     1400000    2
22     1700000    0
23     1600000    0
24     1000000    0
25     2000000    2
26      700000    1
27     2000000    0
28      800000    1
29     1400000    1
...        ...  ...
10684  1500000    0
10685   800000    1
10686  1300000  NaN
10687  1800000  NaN
10688   400000    1
10689  1800000    2
10690  1300000    2
10691  2000000    2
10692  1100000  NaN
10693  1900000    0
10694   700000    2
10695   500000    1
10696  1500000    2
10697   300000    1
10698  1300000    0
10699  1600000    1
10700  1000000    0
10701   300000    2
10702  1800000    2
10703  2100000    1
10704   700000    0
10705   900000    1
10706  1900000    2
10707  1100000    2
10708  1400000    2
10709   300000    0
10710   700000  NaN
10711  2100000    2
10712   700000    1
10713  1400000    0

[10714 rows x 25 columns]
after...
          0       1    2    3    4              5       6   7   8   \
0          1  Female  Mrs  YES  1.0         Farmer  Public   2   0
1          2  Female  Mrs  YES  2.0         Farmer    Walk   2   0
2          3  Female  Mrs   NO  1.0        Cleaner  Public   2   0
3          4  Female  Mrs  YES  1.0         Driver     Car   2   0
4          5  Female  Mrs   NO  2.0  Manufacturing     Car   2   0
5          6  Female  Mrs  YES  1.0          Clerk  Public   2   0
6          7  Female  Mrs  YES  2.0  Manufacturing     Car   2   0
7          8  Female  Mrs  YES  1.0  Manufacturing  Public   2   0
8          9  Female  Mrs  YES  2.0          Sales  Public   2   0
9         10  Female  Mrs  YES  1.0         Farmer  Public   2   0
10        11  Female  Mrs  YES  1.0  Manufacturing  Public   2   0
11        12  Female  Mrs  YES  0.0         Driver     Car   2   0
12        13  Female  Mrs   NO  2.0          Legal  Public   2   0
13        14  Female  Mrs  YES  2.0       Business  Public   2   0
14        15  Female  Mrs  YES  2.0  Manufacturing  Public   2   0
15        16  Female  Mrs  YES  1.0         Farmer    Walk   2   0
16        17  Female  Mrs  YES  2.0          Sales  Public   2   0
17        18  Female  Mrs  YES  0.0     Researcher    Walk   2   0
18        19  Female  Mrs  YES  1.0          Clerk  Public   2   0
19        20  Female  Mrs  YES  2.0     Researcher  Public   2   0
20        21  Female  Mrs  YES  0.0     Researcher     Car   2   0
21        22  Female  Mrs   NO  2.0          Legal  Public   2   0
22        23  Female  Mrs   NO  2.0         Driver  Public   2   0
23        24  Female  Mrs  YES  1.0        Cleaner     Car   2   0
24        25  Female  Mrs   NO  2.0          Clerk     Car   2   0
25        26  Female  Mrs  YES  0.0         Farmer  Public   2   0
26        27  Female  Mrs  YES  2.0  Manufacturing  Public   2   0
27        28  Female  Mrs  YES  1.0  Manufacturing  Public   2   0
28        29  Female  Mrs  YES  2.0         Driver  Public   2   0
29        30  Female  Mrs  YES  1.0  Manufacturing     Car   2   0
...      ...     ...  ...  ...  ...            ...     ...  ..  ..
10684  22666    Male   Mr  YES  0.0  Manufacturing    Walk   8   2
10685  22667    Male   Mr  YES  2.0         Farmer     Car   8   2
10686  22668    Male   Mr  YES  0.0          Sales  Public   8   2
10687  22669    Male   Mr  YES  0.0        Cleaner  Public   8   2
10688  22670    Male   Mr  YES  2.0         Farmer     Car   8   2
10689  22671    Male   Mr  YES  1.0         Driver     Car   8   2
10690  22672    Male   Mr   NO  2.0          Legal     Car   8   2
10691  22673    Male   Mr  YES  1.0       Business  Public   8   2
10692  22674    Male   Mr  YES  0.0     Researcher     Car   8   2
10693  22675    Male   Mr   NO  2.0        Cleaner  Public   8   2
10694  22676    Male   Mr  YES  0.0          Sales    Walk   8   2
10695  22677    Male   Mr  YES  0.0         Farmer    Walk   8   2
10696  22678    Male   Mr  YES  1.0        Cleaner    Walk   8   2
10697  22679    Male   Mr  YES  2.0         Farmer  Public   8   2
10698  22680    Male   Mr   NO  1.0         Farmer     Car   8   2
10699  22681    Male   Mr  YES  2.0         Driver  Public   8   2
10700  22682    Male   Mr  YES  1.0          Clerk    Walk   8   2
10701  22683    Male   Mr  YES  0.0          Legal  Public   8   2
10702  22684    Male   Mr  YES  1.0  Manufacturing     Car   8   2
10703  22685    Male   Mr  YES  2.0          Legal  Public   8   2
10704  22686    Male   Mr  YES  2.0     Researcher    Walk   8   2
10705  22687    Male   Mr  YES  2.0  Manufacturing  Public   8   2
10706  22688    Male   Mr  YES  2.0          Clerk  Public   8   2
10707  22689    Male   Mr   NO  2.0          Legal     Car   8   2
10708  22690    Male   Mr  YES  1.0         Farmer  Public   8   2
10709  22691    Male   Mr   NO  2.0       Business     Car   8   2
10710  22692    Male   Mr  YES  0.0  Manufacturing     Car   8   2
10711  22693    Male   Mr  YES  0.0          Clerk  Public   8   2
10712  22694    Male   Mr  YES  1.0          Legal    Walk   8   2
10713  22695    Male   Mr   NO  2.0       Business     Car   8   2

                           9  ...      15     16     17    18    19  20  21  \
0                Hypertension ...   154.0   93.0  233.0  82.0  58.0  27   7
1                    Diabetes ...   121.0   56.0  328.0  89.0  68.0   5   6
2                        None ...   124.0  137.0  213.0  77.0  43.0  40   6
3      Coronary Heart Disease ...    98.0  167.0  275.0  64.0  60.0  27   7
4                    Diabetes ...    21.0  153.0  331.0  71.0  64.0  32   7
5                        None ...   139.0   86.0  216.0  94.0  38.0   5   5
6      Coronary Heart Disease ...    75.0  156.0  311.0  99.0  68.0  23   5
7                    Diabetes ...   123.0  179.0  242.0  82.0  59.0  34   3
8                Hypertension ...   125.0  156.0  224.0  60.0  37.0  21   7
9                        None ...    23.0  178.0  277.0  83.0  58.0  28   4
10                       None ...    32.0   24.0  203.0  62.0  51.0  31   4
11     Coronary Heart Disease ...    30.0   66.0  224.0  54.0  68.0  14   5
12                   Diabetes ...    39.0  174.0  213.0  98.0  43.0  33   3
13               Hypertension ...    17.0   48.0  333.0  99.0  51.0  31   5
14     Coronary Heart Disease ...   125.0   24.0  224.0  60.0  38.0   4   6
15               Hypertension ...    48.0   66.0  348.0  94.0  56.0  15   3
16     Coronary Heart Disease ...   150.0  113.0  306.0  53.0  43.0  17   6
17                   Diabetes ...   123.0  173.0  349.0  74.0  63.0  29   6
18     Coronary Heart Disease ...    80.0  177.0  287.0  52.0  66.0  37   4
19                   Diabetes ...    89.0  170.0  239.0  57.0  41.0  25   4
20                       None ...   128.0  133.0  325.0  73.0  36.0  38   3
21                       None ...    25.0   32.0  343.0  56.0  40.0  20   5
22                       None ...   133.0  194.0  215.0  88.0  50.0  33   5
23                   Diabetes ...    25.0  158.0  342.0  97.0  61.0  22   3
24                       None ...    58.0  204.0  217.0  79.0  37.0   5   4
25     Coronary Heart Disease ...   158.0   96.0  291.0  95.0  67.0  39   6
26     Coronary Heart Disease ...   139.0  176.0  277.0  61.0  59.0  32   7
27                   Diabetes ...    70.0  190.0  339.0  84.0  48.0   2   5
28     Coronary Heart Disease ...   151.0   42.0  200.0  74.0  46.0   8   7
29     Coronary Heart Disease ...   156.0  176.0  284.0  76.0  59.0   0   6
...                       ... ...     ...    ...    ...   ...   ...  ..  ..
10684                    None ...    97.0  101.0  226.0  61.0  43.0  31   3
10685                    None ...   123.0  111.0  317.0  90.0  36.0  29   5
10686  Coronary Heart Disease ...    43.0   29.0  303.0  53.0  68.0  27   6
10687                Diabetes ...    21.0   79.0  322.0  88.0  39.0  19   3
10688                Diabetes ...   125.0  159.0  224.0  60.0  39.0  12   5
10689  Coronary Heart Disease ...    99.0  194.0  343.0  80.0  63.0  10   7
10690                    None ...    33.0   64.0  320.0  94.0  42.0  36   7
10691                    None ...    18.0   38.0  226.0  79.0  49.0  13   4
10692  Coronary Heart Disease ...   117.0  175.0  320.0  95.0  66.0   1   4
10693  Coronary Heart Disease ...   115.0  117.0  328.0  82.0  59.0  23   5
10694  Coronary Heart Disease ...    19.0  161.0  259.0  55.0  54.0  37   5
10695                Diabetes ...   115.0   43.0  258.0  93.0  50.0  13   3
10696                Diabetes ...    45.0  121.0  342.0  66.0  63.0  37   6
10697                Diabetes ...   146.0  150.0  235.0  95.0  39.0   1   5
10698                    None ...    86.0  154.0  268.0  84.0  35.0   2   4
10699            Hypertension ...    45.0  114.0  349.0  76.0  52.0   3   4
10700            Hypertension ...    50.0  134.0  343.0  78.0  54.0  24   6
10701            Hypertension ...    42.0   55.0  274.0  96.0  40.0  37   6
10702  Coronary Heart Disease ...    90.0   92.0  234.0  76.0  44.0  31   7
10703  Coronary Heart Disease ...   121.0   93.0  205.0  67.0  67.0   6   7
10704                    None ...   146.0   72.0  307.0  60.0  58.0  35   4
10705            Hypertension ...    29.0   98.0  226.0  89.0  39.0  13   7
10706            Hypertension ...    53.0   77.0  258.0  67.0  63.0   1   4
10707                    None ...   107.0   33.0  271.0  67.0  68.0  38   3
10708                Diabetes ...    78.0  150.0  337.0  69.0  44.0  31   3
10709                Diabetes ...    67.0   24.0  209.0  61.0  56.0  35   7
10710                    None ...   102.0  134.0  211.0  65.0  47.0  35   7
10711                Diabetes ...   111.0  151.0  296.0  87.0  37.0  16   5
10712  Coronary Heart Disease ...   140.0  110.0  253.0  56.0  70.0  28   5
10713                Diabetes ...    65.0  134.0  201.0  82.0  60.0   4   3

              22       23   24
0      3600000.0  1300000  2.0
1      1600000.0   400000  1.0
2      3400000.0   900000  1.0
3       700000.0  2300000  1.0
4      3200000.0  1100000  1.0
5      4600000.0  1900000  2.0
6      4000000.0  1600000  1.0
7      4100000.0  1200000  0.0
8      4500000.0   900000  0.0
9      2200000.0  1400000  2.0
10     4200000.0  1100000  0.0
11     1000000.0   300000  0.0
12     4000000.0  2300000  2.0
13     3500000.0  2200000  2.0
14     2500000.0   800000  1.0
15     5000000.0  2200000  1.0
16     4700000.0  1200000  0.0
17      300000.0  1700000  1.0
18     3900000.0  2300000  0.0
19     1300000.0   800000  0.0
20     2100000.0  1600000  1.0
21     4000000.0  1400000  2.0
22     4100000.0  1700000  0.0
23     3700000.0  1600000  0.0
24     4100000.0  1000000  0.0
25     3100000.0  2000000  2.0
26     4500000.0   700000  1.0
27     2900000.0  2000000  0.0
28     4000000.0   800000  1.0
29      800000.0  1400000  1.0
...          ...      ...  ...
10684  4500000.0  1500000  0.0
10685  3200000.0   800000  1.0
10686   400000.0  1300000  1.0
10687  2500000.0  1800000  1.0
10688  4500000.0   400000  1.0

In [18]:
xt.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
dtype: int64

In [19]:
X=xt

In [20]:
X.head(20)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,Female,Mrs,YES,1.0,Farmer,Public,2,0,Hypertension,...,154.0,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0
1,2,Female,Mrs,YES,2.0,Farmer,Walk,2,0,Diabetes,...,121.0,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0
2,3,Female,Mrs,NO,1.0,Cleaner,Public,2,0,None,...,124.0,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0
3,4,Female,Mrs,YES,1.0,Driver,Car,2,0,Coronary Heart Disease,...,98.0,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0
4,5,Female,Mrs,NO,2.0,Manufacturing,Car,2,0,Diabetes,...,21.0,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0
5,6,Female,Mrs,YES,1.0,Clerk,Public,2,0,None,...,139.0,86.0,216.0,94.0,38.0,5,5,4600000.0,1900000,2.0
6,7,Female,Mrs,YES,2.0,Manufacturing,Car,2,0,Coronary Heart Disease,...,75.0,156.0,311.0,99.0,68.0,23,5,4000000.0,1600000,1.0
7,8,Female,Mrs,YES,1.0,Manufacturing,Public,2,0,Diabetes,...,123.0,179.0,242.0,82.0,59.0,34,3,4100000.0,1200000,0.0
8,9,Female,Mrs,YES,2.0,Sales,Public,2,0,Hypertension,...,125.0,156.0,224.0,60.0,37.0,21,7,4500000.0,900000,0.0
9,10,Female,Mrs,YES,1.0,Farmer,Public,2,0,None,...,23.0,178.0,277.0,83.0,58.0,28,4,2200000.0,1400000,2.0
10,11,Female,Mrs,YES,1.0,Manufacturing,Public,2,0,None,...,32.0,24.0,203.0,62.0,51.0,31,4,4200000.0,1100000,0.0
11,12,Female,Mrs,YES,0.0,Driver,Car,2,0,Coronary Heart Disease,...,30.0,66.0,224.0,54.0,68.0,14,5,1000000.0,300000,0.0
12,13,Female,Mrs,NO,2.0,Legal,Public,2,0,Diabetes,...,39.0,174.0,213.0,98.0,43.0,33,3,4000000.0,2300000,2.0
13,14,Female,Mrs,YES,2.0,Business,Public,2,0,Hypertension,...,17.0,48.0,333.0,99.0,51.0,31,5,3500000.0,2200000,2.0
14,15,Female,Mrs,YES,2.0,Manufacturing,Public,2,0,Coronary Heart Disease,...,125.0,24.0,224.0,60.0,38.0,4,6,2500000.0,800000,1.0
15,16,Female,Mrs,YES,1.0,Farmer,Walk,2,0,Hypertension,...,48.0,66.0,348.0,94.0,56.0,15,3,5000000.0,2200000,1.0
16,17,Female,Mrs,YES,2.0,Sales,Public,2,0,Coronary Heart Disease,...,150.0,113.0,306.0,53.0,43.0,17,6,4700000.0,1200000,0.0
17,18,Female,Mrs,YES,0.0,Researcher,Walk,2,0,Diabetes,...,123.0,173.0,349.0,74.0,63.0,29,6,300000.0,1700000,1.0
18,19,Female,Mrs,YES,1.0,Clerk,Public,2,0,Coronary Heart Disease,...,80.0,177.0,287.0,52.0,66.0,37,4,3900000.0,2300000,0.0
19,20,Female,Mrs,YES,2.0,Researcher,Public,2,0,Diabetes,...,89.0,170.0,239.0,57.0,41.0,25,4,1300000.0,800000,0.0

In [21]:
df_new.columns

Index(['people_ID', 'Gender', 'Designation', 'Married', 'Children',
       'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity',
       'Age', 'Coma score', 'Pulmonary score', 'cardiological pressure',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [22]:
X.columns=['people_ID', 'Gender', 'Designation', 'Married', 'Children',
       'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M', 'comorbidity',
       'Age', 'Coma score', 'Pulmonary score', 'cardiological pressure',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month']

In [23]:
X.head()

,people_ID,Gender,Designation,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,1,Female,Mrs,YES,1.0,Farmer,Public,2,0,Hypertension,...,154.0,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0
1,2,Female,Mrs,YES,2.0,Farmer,Walk,2,0,Diabetes,...,121.0,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0
2,3,Female,Mrs,NO,1.0,Cleaner,Public,2,0,None,...,124.0,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0
3,4,Female,Mrs,YES,1.0,Driver,Car,2,0,Coronary Heart Disease,...,98.0,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0
4,5,Female,Mrs,NO,2.0,Manufacturing,Car,2,0,Diabetes,...,21.0,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0

In [24]:
X.tail()

,people_ID,Gender,Designation,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
10709,22691,Male,Mr,NO,2.0,Business,Car,8,2,Diabetes,...,67.0,24.0,209.0,61.0,56.0,35,7,4000000.0,300000,0.0
10710,22692,Male,Mr,YES,0.0,Manufacturing,Car,8,2,None,...,102.0,134.0,211.0,65.0,47.0,35,7,1500000.0,700000,1.0
10711,22693,Male,Mr,YES,0.0,Clerk,Public,8,2,Diabetes,...,111.0,151.0,296.0,87.0,37.0,16,5,3000000.0,2100000,2.0
10712,22694,Male,Mr,YES,1.0,Legal,Walk,8,2,Coronary Heart Disease,...,140.0,110.0,253.0,56.0,70.0,28,5,2900000.0,700000,1.0
10713,22695,Male,Mr,NO,2.0,Business,Car,8,2,Diabetes,...,65.0,134.0,201.0,82.0,60.0,4,3,2100000.0,1400000,0.0

In [25]:
X=pd.get_dummies(X, columns = ['Gender','Designation','Married','Occupation','Mode_transport','comorbidity','Pulmonary score','cardiological pressure'])
X

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1,1.0,2,0,68,8,1561.206943,154.0,93.0,233.0,...,1,0,0,0,0,1,0,1,0,0
1,2,2.0,2,0,64,15,613.381566,121.0,56.0,328.0,...,0,0,1,0,0,0,0,0,0,1
2,3,1.0,2,0,19,13,1477.028836,124.0,137.0,213.0,...,0,1,0,0,1,0,1,0,0,0
3,4,1.0,2,0,33,9,1448.751352,98.0,167.0,275.0,...,0,0,0,1,0,0,0,0,1,0
4,5,2.0,2,0,23,7,1390.212051,21.0,153.0,331.0,...,0,0,0,0,0,1,0,1,0,0
5,6,1.0,2,0,35,9,1377.505077,139.0,86.0,216.0,...,0,1,1,0,0,0,0,0,0,1
6,7,2.0,2,0,61,3,1165.263627,75.0,156.0,311.0,...,0,0,0,0,0,1,0,1,0,0
7,8,1.0,2,0,49,10,744.344450,123.0,179.0,242.0,...,0,0,0,1,0,0,0,0,1,0
8,9,2.0,2,0,44,6,1121.513276,125.0,156.0,224.0,...,1,0,0,1,0,0,0,0,1,0
9,10,1.0,2,0,41,14,897.818523,23.0,178.0,277.0,...,0,1,0,0,1,0,1,0,0,0
10,11,1.0,2,0,43,9,1335.595957,32.0,24.0,203.0,...,0,1,1,0,0,0,0,0,0,1
11,12,0.0,2,0,52,5,743.500103,30.0,66.0,224.0,...,0,0,1,0,0,0,0,0,0,1
12,13,2.0,2,0,18,15,1429.781882,39.0,174.0,213.0,...,0,0,0,1,0,0,0,0,1,0
13,14,2.0,2,0,52,14,502.011261,17.0,48.0,333.0,...,1,0,0,0,1,0,1,0,0,0
14,15,2.0,2,0,36,13,1365.227131,125.0,24.0,224.0,...,0,0,0,1,0,0,0,0,1,0
15,16,1.0,2,0,68,11,897.607315,48.0,66.0,348.0,...,1,0,0,0,1,0,1,0,0,0
16,17,2.0,2,0,55,11,762.580763,150.0,113.0,306.0,...,0,0,0,0,1,0,1,0,0,0
17,18,0.0,2,0,53,3,710.345916,123.0,173.0,349.0,...,0,0,0,0,1,0,1,0,0,0
18,19,1.0,2,0,65,9,711.906933,80.0,177.0,287.0,...,0,0,0,0,0,1,0,1,0,0
19,20,2.0,2,0,50,6,837.519149,89.0,170.0,239.0,...,0,0,0,0,0,1,0,1,0,0
20,21,0.0,2,0,38,6,914.841616,128.0,133.0,325.0,...,0,1,1,0,0,0,0,0,0,1
21,22,2.0,2,0,20,12,833.457701,25.0,32.0,343.0,...,0,1,0,0,1,0,1,0,0,0
22,23,2.0,2,0,18,7,1474.158461,133.0,194.0,215.0,...,0,1,0,0,1,0,1,0,0,0
23,24,1.0,2,0,31,5,773.688312,25.0,158.0,342.0,...,0,0,0,1,0,0,0,0,1,0
24,25,2.0,2,0,20,6,593.167563,58.0,204.0,217.0,...,0,1,0,1,0,0,0,0,1,0
25,26,0.0,2,0,51,15,1365.871166,158.0,96.0,291.0,...,0,0,0,1,0,0,0,0,1,0
26,27,2.0,2,0,53,15,926.063368,139.0,176.0,277.0,...,0,0,0,1,0,0,0,0,1,0
27,28,1.0,2,0,42,15,720.782299,70.0,190.0,339.0,...,0,0,0,1,0,0,0,0,1,0
28,29,2.0,2,0,60,8,1310.150359,151.0,42.0,200.0,...,0,0,0,1,0,0,0,0,1,0
29,30,1.0,2,0,48,3,1436.256041,156.0,176.0,284.0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,22666,0.0,8,2,54,5,1463.516533,97.0,101.0,226.0,...,0,1,0,0,0,1,0,1,0,0
10685,22667,2.0,8,2,30,10,522.692926,123.0,111.0,317.0,...,0,1,1,0,0,0,0,0,0,1
10686,22668,0.0,8,2,40,6,1098.919526,43.0,29.0,303.0,...,0,0,0,1,0,0,0,0,1,0
10687,22669,0.0,8,2,42,6,1507.502315,21.0,79.0,322.0,...,0,0,0,0,0,1,0,1,0,0
10688,22670,2.0,8,2,35,13,1399.536810,125.0,159.0,224.0,...,0,0,0,0,1,0,1,0,0,0
10689,22671,1.0,8,2,61,13,1385.848312,99.0,194.0,343.0,...,0,0,0,0,0,1,0,1,0,0
10690,22672,2.0,8,2,21,14,599.153847,33.0,64.0,320.0,...,0,1,1,0,0,0,0,0,0,1
10691,22673,1.0,8,2,65,5,1474.996504,18.0,38.0,226.0,...,0,1,0,0,1,0,1,0,0,0
10692,22674,0.0,8,2,36,3,878.997331,117.0,175.0,320.0,...,0,0,1,0,0,0,0,0,0,1
10693,22675,2.0,8,2,19,4,631.077938,115.0,117.0,328.0,...,0,0,0,1,0,0,0,0,1,0
10694,22676,0.0,8,2,47,6,1519.213910,19.0,161.0,259.0,...,0,0,0,0,1,0,1,0,0,0
10695,22677,0.0,8,2,58,3,930.126064,115.0,43.0,258.0,...,0,0,0,1,0,0,0,0,1,0
10696,22678,1.0,8,2,31,15,582.326117,45.0,121.0,342.0,...,0,0,0,0,0,1,0,1,0,0
10697,22679,2.0,8,2,66,4,819.968980,146.0,150.0,235.0,...,0,0,0,1,0,0,0,0,1,0
10698,22680,1.0,8,2,21,8,1330.187455,86.0,154.0,268.0,...,0,1,0,1,0,0,0,0,1,0
10699,22681,2.0,8,2,56,8,1240.171415,45.0,114.0,349.0,...,1,0,0,0,0,1,0,1,0,0
10700,22682,1.0,8,2,36,4,1346.525270,50.0,134.0,343.0,...,1,0,1,0,0,0,0,0,0,1
10701,22683,0.0,8,2,50,12,948.774538,42.0,55.0,274.0,...,1,0,1,0,0,0,0,0,0,1
10702,22684,1.0,8,2,67,8,1478.614149,90.0,92.0,234.0,...,0,0,1,0,0,0,0,0,0,1
10703,22685,2.0,8,2,28,13,1376.023072,121.0,93.0,205.0,...,0,0,0,0,1,0,1,0,0,0
10704,22686,2.0,8,2,28,9,1215.984470,146.0,72.0,307.0,...,0,1,0,1,0,0,0,0,1,0
10705,22687,2.0,8,2,63,10,909.326720,29.0,98.0,226.0,...,1,0,1,0,0,0,0,0,0,1
10706,22688,2.0,8,2,63,5,706.064737,53.0,77.0,258.0,...,1,0,0,0,0,1,0,1,0,0
10707,22689,2.0,8,2,17,3,1083.399648,107.0,33.0,271.0,...,0,1,0,0,0,1,0,1,0,0
10708,22690,1.0,8,2,35,11,1412.084002,78.0,150.0,337.0,...,0,0,0,1,0,0,0,0,1,0
10709,22691,2.0,8,2,20,14,550.454951,67.0,24.0,209.0,...,0,0,0,0,0,1,0,1,0,0
10710,22692,0.0,8,2,42,4,1378.627597,102.0,134.0,211.0,...,0,1,0,0,0,1,0,1,0,0
10711,22693,0.0,8,2,59,3,691.701784,111.0,151.0,296.0,...,0,0,1,0,0,0,0,0,0,1
10712,22694,1.0,8,2,49,6,1267.931212,140.0,110.0,253.0,...,0,0,0,0,1,0,1,0,0,0
10713,22695,2.0,8,2,17,7,701.072583,65.0,134.0,201.0,...,0,0,0,0,0,1,0,1,0,0

In [26]:
X.head()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1,1.0,2,0,68,8,1561.206943,154.0,93.0,233.0,...,1,0,0,0,0,1,0,1,0,0
1,2,2.0,2,0,64,15,613.381566,121.0,56.0,328.0,...,0,0,1,0,0,0,0,0,0,1
2,3,1.0,2,0,19,13,1477.028836,124.0,137.0,213.0,...,0,1,0,0,1,0,1,0,0,0
3,4,1.0,2,0,33,9,1448.751352,98.0,167.0,275.0,...,0,0,0,1,0,0,0,0,1,0
4,5,2.0,2,0,23,7,1390.212051,21.0,153.0,331.0,...,0,0,0,0,0,1,0,1,0,0

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 47 columns):
people_ID                             10714 non-null int64
Children                              10714 non-null float64
cases/1M                              10714 non-null int64
Deaths/1M                             10714 non-null int64
Age                                   10714 non-null int64
Coma score                            10714 non-null int64
Diuresis                              10714 non-null float64
Platelets                             10714 non-null float64
HBB                                   10714 non-null float64
d-dimer                               10714 non-null float64
Heart rate                            10714 non-null float64
HDL cholesterol                       10714 non-null float64
Charlson Index                        10714 non-null int64
Blood Glucose                         10714 non-null int64
Insurance                             10714 non-null float64
salary                                10714 non-null int64
FT/month                              10714 non-null float64
Gender_Female                         10714 non-null uint8
Gender_Male                           10714 non-null uint8
Designation_Mr                        10714 non-null uint8
Designation_Mrs                       10714 non-null uint8
Married_NO                            10714 non-null uint8
Married_YES                           10714 non-null uint8
Occupation_Business                   10714 non-null uint8
Occupation_Cleaner                    10714 non-null uint8
Occupation_Clerk                      10714 non-null uint8
Occupation_Driver                     10714 non-null uint8
Occupation_Farmer                     10714 non-null uint8
Occupation_Legal                      10714 non-null uint8
Occupation_Manufacturing              10714 non-null uint8
Occupation_Researcher                 10714 non-null uint8
Occupation_Sales                      10714 non-null uint8
Mode_transport_Car                    10714 non-null uint8
Mode_transport_Public                 10714 non-null uint8
Mode_transport_Walk                   10714 non-null uint8
comorbidity_Coronary Heart Disease    10714 non-null uint8
comorbidity_Diabetes                  10714 non-null uint8
comorbidity_Hypertension              10714 non-null uint8
comorbidity_None                      10714 non-null uint8
Pulmonary score_<100                  10714 non-null uint8
Pulmonary score_<200                  10714 non-null uint8
Pulmonary score_<300                  10714 non-null uint8
Pulmonary score_<400                  10714 non-null uint8
cardiological pressure_Elevated       10714 non-null uint8
cardiological pressure_Normal         10714 non-null uint8
cardiological pressure_Stage-01       10714 non-null uint8
cardiological pressure_Stage-02       10714 non-null uint8
dtypes: float64(9), int64(8), uint8(30)
memory usage: 1.7 MB

In [28]:
X.describe()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
count,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,...,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000,10714.000000
mean,10084.893784,1.089976,3.285888,0.523241,42.083722,9.013067,1024.422143,91.004387,116.091562,269.959119,...,0.267687,0.246127,0.248647,0.249860,0.249300,0.252193,0.246500,0.259287,0.247993,0.246220
std,7108.663645,0.821470,2.721274,0.854303,15.323397,3.714970,320.328230,41.346508,55.175809,44.202573,...,0.442774,0.430773,0.432249,0.432952,0.432628,0.434292,0.430993,0.438264,0.431868,0.430828
min,1.000000,0.000000,1.000000,0.000000,16.000000,3.000000,464.767068,15.000000,20.000000,200.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2679.250000,0.000000,2.000000,0.000000,29.000000,6.000000,748.092383,55.000000,68.000000,224.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10003.500000,1.000000,2.000000,0.000000,42.000000,9.000000,1015.953847,95.000000,116.000000,267.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,15141.750000,2.000000,4.000000,1.000000,55.000000,12.000000,1303.371590,125.000000,165.000000,309.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,22695.000000,2.000000,8.000000,2.000000,68.000000,15.000000,1592.098349,160.000000,210.000000,350.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
X.columns

Index(['people_ID', 'Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Gender_Female', 'Gender_Male', 'Designation_Mr',
       'Designation_Mrs', 'Married_NO', 'Married_YES', 'Occupation_Business',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Car',
       'Mode_transport_Public', 'Mode_transport_Walk',
       'comorbidity_Coronary Heart Disease', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<100',
       'Pulmonary score_<200', 'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Elevated', 'cardiological pressure_Normal',
       'cardiological pressure_Stage-01', 'cardiological pressure_Stage-02'],
      dtype='object')

In [30]:
X.head()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,1,1.0,2,0,68,8,1561.206943,154.0,93.0,233.0,...,1,0,0,0,0,1,0,1,0,0
1,2,2.0,2,0,64,15,613.381566,121.0,56.0,328.0,...,0,0,1,0,0,0,0,0,0,1
2,3,1.0,2,0,19,13,1477.028836,124.0,137.0,213.0,...,0,1,0,0,1,0,1,0,0,0
3,4,1.0,2,0,33,9,1448.751352,98.0,167.0,275.0,...,0,0,0,1,0,0,0,0,1,0
4,5,2.0,2,0,23,7,1390.212051,21.0,153.0,331.0,...,0,0,0,0,0,1,0,1,0,0

In [31]:
X=X.drop('Gender_Male',axis=1)
X=X.drop('Designation_Mr',axis=1)
X=X.drop('Married_NO',axis=1)
X=X.drop('Occupation_Business',axis=1)
X=X.drop('Mode_transport_Car',axis=1)
X=X.drop('comorbidity_Coronary Heart Disease',axis=1)
X=X.drop('Pulmonary score_<100',axis=1)
X=X.drop('cardiological pressure_Elevated',axis=1)

In [32]:
X.columns

Index(['people_ID', 'Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Gender_Female', 'Designation_Mrs', 'Married_YES',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Public',
       'Mode_transport_Walk', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<200',
       'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Normal', 'cardiological pressure_Stage-01',
       'cardiological pressure_Stage-02'],
      dtype='object')

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [34]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
y_pred=model.predict(X_test)

In [36]:
y_pred

array([52.84832321, 51.31795282, 50.64979376, ..., 61.03634748,
       48.07253633, 50.79701039])

In [37]:
y_test

array([53.07288286, 52.40655962, 47.56760338, ..., 41.98176   ,
       47.21120095, 52.28308527])

In [38]:
print('Intercept: \n', model.intercept_)
print('Coefficients: \n', model.coef_)

Intercept:
 48.00715587488982
Coefficients:
 [ 3.75199471e-04  2.15289433e+00  1.05496189e+00 -2.45835124e+00
 -2.86206062e-03  1.03735029e-01  3.10409070e-04  1.63201048e-02
  4.69751549e-03  2.68090505e-03 -7.32736940e-03  1.54193786e-02
 -3.79703951e-03 -7.97437536e-02  2.19087563e-09 -4.09270936e-07
  2.45525747e-02  2.47850382e+00  2.47850382e+00 -1.16930784e+01
 -8.18716326e-02  5.16040967e-01  4.64733694e-01 -7.24270425e-01
 -9.95381995e-02  2.67982786e-01  5.40079195e-01  7.54096128e-01
  1.87297073e-01 -4.75994179e-02 -6.27482115e-02  4.87914158e-02
 -3.44660922e-01 -1.38620865e+00 -6.39790848e-01 -1.08866346e+00
  3.31120403e-01  6.89849049e-01 -3.13846508e-01]

In [39]:
df1=pd.read_excel('Test_dataset.xlsx')

In [40]:
df1.head()

,people_ID,Region,Gender,Designation,Name,Married,Children,Occupation,Mode_transport,cases/1M,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Delhi,Female,Mrs,smt rekha prajapat,YES,2,Driver,Public,4,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Delhi,Male,Mr,nirmal,YES,2,Legal,Walk,4,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Delhi,Female,Mrs,pinky,YES,2,Sales,Car,4,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Delhi,Female,Mrs,pooja @aafrin,YES,2,Sales,Car,4,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Delhi,Female,Mrs,anjali,YES,2,Business,Car,4,...,109,207,312,94,68,39,5,2300000,1500000,1

In [41]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor(n_estimators=600,random_state=0)
reg.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=600,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [42]:
#predic=reg.predict(y_test)
y_test

array([53.07288286, 52.40655962, 47.56760338, ..., 41.98176   ,
       47.21120095, 52.28308527])

In [43]:
reg

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=600,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [44]:
prediction=reg.predict(X_test)

In [45]:
prediction

array([53.31441283, 52.46332445, 47.42239388, ..., 57.0349872 ,
       47.95112257, 52.33871495])

In [46]:
y_test

array([53.07288286, 52.40655962, 47.56760338, ..., 41.98176   ,
       47.21120095, 52.28308527])

In [47]:
from sklearn.tree import DecisionTreeRegressor
reg1=DecisionTreeRegressor(random_state=0)
reg1.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [48]:
preds=reg1.predict(X_test)

In [49]:
preds

array([52.91124842, 52.62074379, 47.71110472, ..., 69.31872   ,
       47.59400758, 52.12462013])

In [50]:
y_test

array([53.07288286, 52.40655962, 47.56760338, ..., 41.98176   ,
       47.21120095, 52.28308527])

In [51]:
df1=df1.drop('Name',axis=1)

In [52]:
df1=df1.drop('Region',axis=1)

In [53]:
df1.head()

,people_ID,Gender,Designation,Married,Children,Occupation,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,Platelets,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month
0,5942,Female,Mrs,YES,2,Driver,Public,4,1,Diabetes,...,153,196,240,85,53,17,3,3900000,1300000,1
1,18664,Male,Mr,YES,2,Legal,Walk,4,1,Diabetes,...,95,138,241,81,61,2,5,1800000,1300000,1
2,5603,Female,Mrs,YES,2,Sales,Car,4,1,Diabetes,...,40,166,236,88,47,24,3,5000000,2000000,2
3,5649,Female,Mrs,YES,2,Sales,Car,4,1,None,...,78,83,211,87,52,13,6,3100000,600000,2
4,5099,Female,Mrs,YES,2,Business,Car,4,1,Diabetes,...,109,207,312,94,68,39,5,2300000,1500000,1

In [54]:
df1.isnull().sum()

people_ID                 0
Gender                    0
Designation               0
Married                   0
Children                  0
Occupation                0
Mode_transport            0
cases/1M                  0
Deaths/1M                 0
comorbidity               0
Age                       0
Coma score                0
Pulmonary score           0
cardiological pressure    0
Diuresis                  0
Platelets                 0
HBB                       0
d-dimer                   0
Heart rate                0
HDL cholesterol           0
Charlson Index            0
Blood Glucose             0
Insurance                 0
salary                    0
FT/month                  0
dtype: int64

In [55]:
df1=pd.get_dummies(df1, columns = ['Gender','Designation','Married','Occupation','Mode_transport','comorbidity','Pulmonary score','cardiological pressure'])
df1

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<100,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Elevated,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,5942,2,4,1,52,3,388,153,196,240,...,0,0,0,1,0,0,0,0,1,0
1,18664,2,4,1,53,11,409,95,138,241,...,0,0,0,1,0,0,0,0,1,0
2,5603,2,4,1,35,9,440,40,166,236,...,0,0,1,0,0,0,0,0,0,1
3,5649,2,4,1,31,12,206,78,83,211,...,0,1,0,0,1,0,1,0,0,0
4,5099,2,4,1,51,6,229,109,207,312,...,0,0,0,1,0,0,0,0,1,0
5,18749,2,4,1,34,14,340,35,185,291,...,0,0,0,0,1,0,1,0,0,0
6,5228,2,4,1,61,7,176,82,152,246,...,0,1,0,0,0,1,0,1,0,0
7,5559,2,4,1,55,7,287,117,112,343,...,0,1,0,0,1,0,1,0,0,0
8,5220,2,4,1,28,9,373,89,107,224,...,1,0,0,0,0,1,0,1,0,0
9,5476,2,4,1,55,15,442,57,146,303,...,1,0,0,1,0,0,0,0,1,0
10,5260,2,4,1,65,4,382,79,163,232,...,0,0,1,0,0,0,0,0,0,1
11,17638,2,4,1,66,10,378,140,84,223,...,1,0,0,1,0,0,0,0,1,0
12,18635,2,4,1,35,9,281,82,114,317,...,0,1,0,0,1,0,1,0,0,0
13,18794,2,4,1,18,8,181,115,71,258,...,0,0,1,0,0,0,0,0,0,1
14,5263,2,4,1,60,15,172,31,121,277,...,0,0,1,0,0,0,0,0,0,1
15,17680,2,4,1,25,4,147,128,167,303,...,0,0,0,1,0,0,0,0,1,0
16,18030,2,4,1,41,8,342,101,100,315,...,1,0,0,0,1,0,1,0,0,0
17,18090,2,4,1,54,15,429,71,110,255,...,0,1,0,1,0,0,0,0,1,0
18,18455,2,4,1,66,10,303,47,193,283,...,0,0,0,0,0,1,0,1,0,0
19,18155,2,4,1,47,8,311,86,123,263,...,0,0,0,0,0,1,0,1,0,0
20,18116,2,4,1,25,12,319,99,79,255,...,0,0,0,0,1,0,1,0,0,0
21,18144,2,4,1,46,14,213,74,84,349,...,1,0,0,0,1,0,1,0,0,0
22,5218,2,4,1,21,9,154,83,168,243,...,0,0,0,1,0,0,0,0,1,0
23,5386,2,4,1,41,10,375,71,178,298,...,0,0,0,1,0,0,0,0,1,0
24,18105,2,4,1,26,8,336,96,73,263,...,0,1,1,0,0,0,0,0,0,1
25,5735,2,4,1,60,14,291,49,99,284,...,0,1,0,0,1,0,1,0,0,0
26,5900,2,4,1,63,5,343,100,165,292,...,0,0,0,0,0,1,0,1,0,0
27,18391,2,4,1,28,15,128,42,140,295,...,0,0,0,0,1,0,1,0,0,0
28,5786,2,4,1,32,10,401,63,203,250,...,1,0,0,1,0,0,0,0,1,0
29,18639,2,4,1,51,4,219,106,149,303,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14468,23328,0,11,2,34,4,342,20,129,270,...,0,1,0,0,0,1,0,1,0,0
14469,23293,0,11,2,62,4,423,92,29,258,...,1,0,0,1,0,0,0,0,1,0
14470,23758,0,11,2,31,7,349,30,78,272,...,0,0,0,1,0,0,0,0,1,0
14471,10958,0,11,2,43,3,316,106,31,334,...,1,0,0,1,0,0,0,0,1,0
14472,11101,0,11,2,59,6,311,32,93,269,...,0,1,0,1,0,0,0,0,1,0
14473,11017,0,11,2,59,15,404,24,24,284,...,0,1,0,1,0,0,0,0,1,0
14474,23403,0,11,2,65,5,247,19,110,212,...,1,0,0,0,1,0,1,0,0,0
14475,23665,0,11,2,30,3,290,56,36,205,...,0,1,0,0,1,0,1,0,0,0
14476,10513,0,11,2,35,7,206,31,44,243,...,0,0,0,0,0,1,0,1,0,0
14477,11173,0,11,2,51,5,142,67,21,277,...,0,1,0,0,0,1,0,1,0,0
14478,10187,0,11,2,52,8,251,63,29,324,...,0,0,0,1,0,0,0,0,1,0
14479,10290,0,11,2,38,3,341,28,83,257,...,0,0,0,1,0,0,0,0,1,0
14480,10872,0,11,2,52,13,197,20,41,278,...,0,0,0,1,0,0,0,0,1,0
14481,10338,0,11,2,65,3,215,74,50,275,...,1,0,0,1,0,0,0,0,1,0
14482,10172,0,11,2,44,8,446,23,77,246,...,0,0,0,1,0,0,0,0,1,0
14483,10347,0,11,2,23,4,336,42,39,230,...,0,0,0,0,1,0,1,0,0,0
14484,11226,0,11,2,30,4,391,102,24,295,...,0,1,0,1,0,0,0,0,1,0
14485,10084,0,11,2,47,3,310,25,69,215,...,0,1,0,0,0,1,0,1,0,0
14486,23557,0,11,2,37,5,158,73,20,211,...,0,1,0,1,0,0,0,0,1,0
14487,23598,0,11,2,51,3,414,41,77,233,...,0,0,0,1,0,0,0,0,1,0
14488,23608,0,11,2,63,3,182,38,37,334,...,0,0,0,0,0,1,0,1,0,0
14489,23212,0,11,2,18,3,344,17,71,282,...,0,0,0,0,0,1,0,1,0,0
14490,10661,0,11,2,36,9,330,20,25,222,...,0,0,0,0,1,0,1,0,0,0
14491,10372,0,11,2,60,5,415,30,53,216,...,0,0,0,1,0,0,0,0,1,0
14492,10615,0,11,2,49,3,310,30,28,293,...,1,0,0,0,1,0,1,0,0,0
14493,23737,0,11,2,55,5,417,16,36,346,...,0,0,0,0,0,1,0,1,0,0
14494,11171,0,11,2,44,4,199,22,29,278,...,0,1,0,0,1,0,1,0,0,0
14495,23243,0,11,2,46,6,161,15,28,294,...,0,1,0,0,1,0,1,0,0,0
14496,11199,0,11,2,34,5,174,31,24,227,...,0,0,0,1,0,0,0,0,1,0
14497,10787,0,11,2,27,4,126,16,63,282,...,0,0,0,1,0,0,0,0,1,0

In [56]:
df1=df1.drop('Gender_Male',axis=1)
df1=df1.drop('Designation_Mr',axis=1)
df1=df1.drop('Married_NO',axis=1)
df1=df1.drop('Occupation_Business',axis=1)
df1=df1.drop('Mode_transport_Car',axis=1)
df1=df1.drop('comorbidity_Coronary Heart Disease',axis=1)
df1=df1.drop('Pulmonary score_<100',axis=1)
df1=df1.drop('cardiological pressure_Elevated',axis=1)

In [57]:
df1.head()

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,Mode_transport_Walk,comorbidity_Diabetes,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,5942,2,4,1,52,3,388,153,196,240,...,0,1,0,0,1,0,0,0,1,0
1,18664,2,4,1,53,11,409,95,138,241,...,1,1,0,0,1,0,0,0,1,0
2,5603,2,4,1,35,9,440,40,166,236,...,0,1,0,0,0,0,0,0,0,1
3,5649,2,4,1,31,12,206,78,83,211,...,0,0,0,1,0,1,0,0,0,0
4,5099,2,4,1,51,6,229,109,207,312,...,0,1,0,0,1,0,0,0,1,0

In [58]:
res=reg.predict(df1)
res

array([52.92503096, 52.75697771, 51.72223043, ..., 45.4392395 ,
       45.21108517, 45.30951448])

In [59]:
df1.columns

Index(['people_ID', 'Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Gender_Female', 'Designation_Mrs', 'Married_YES',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Public',
       'Mode_transport_Walk', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<200',
       'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Normal', 'cardiological pressure_Stage-01',
       'cardiological pressure_Stage-02'],
      dtype='object')

In [60]:
X_train.columns

Index(['people_ID', 'Children', 'cases/1M', 'Deaths/1M', 'Age', 'Coma score',
       'Diuresis', 'Platelets', 'HBB', 'd-dimer', 'Heart rate',
       'HDL cholesterol', 'Charlson Index', 'Blood Glucose', 'Insurance',
       'salary', 'FT/month', 'Gender_Female', 'Designation_Mrs', 'Married_YES',
       'Occupation_Cleaner', 'Occupation_Clerk', 'Occupation_Driver',
       'Occupation_Farmer', 'Occupation_Legal', 'Occupation_Manufacturing',
       'Occupation_Researcher', 'Occupation_Sales', 'Mode_transport_Public',
       'Mode_transport_Walk', 'comorbidity_Diabetes',
       'comorbidity_Hypertension', 'comorbidity_None', 'Pulmonary score_<200',
       'Pulmonary score_<300', 'Pulmonary score_<400',
       'cardiological pressure_Normal', 'cardiological pressure_Stage-01',
       'cardiological pressure_Stage-02'],
      dtype='object')

In [61]:
df1

,people_ID,Children,cases/1M,Deaths/1M,Age,Coma score,Diuresis,Platelets,HBB,d-dimer,...,Mode_transport_Walk,comorbidity_Diabetes,comorbidity_Hypertension,comorbidity_None,Pulmonary score_<200,Pulmonary score_<300,Pulmonary score_<400,cardiological pressure_Normal,cardiological pressure_Stage-01,cardiological pressure_Stage-02
0,5942,2,4,1,52,3,388,153,196,240,...,0,1,0,0,1,0,0,0,1,0
1,18664,2,4,1,53,11,409,95,138,241,...,1,1,0,0,1,0,0,0,1,0
2,5603,2,4,1,35,9,440,40,166,236,...,0,1,0,0,0,0,0,0,0,1
3,5649,2,4,1,31,12,206,78,83,211,...,0,0,0,1,0,1,0,0,0,0
4,5099,2,4,1,51,6,229,109,207,312,...,0,1,0,0,1,0,0,0,1,0
5,18749,2,4,1,34,14,340,35,185,291,...,1,1,0,0,0,1,0,0,0,0
6,5228,2,4,1,61,7,176,82,152,246,...,0,0,0,1,0,0,1,1,0,0
7,5559,2,4,1,55,7,287,117,112,343,...,1,0,0,1,0,1,0,0,0,0
8,5220,2,4,1,28,9,373,89,107,224,...,0,0,1,0,0,0,1,1,0,0
9,5476,2,4,1,55,15,442,57,146,303,...,0,0,1,0,1,0,0,0,1,0
10,5260,2,4,1,65,4,382,79,163,232,...,1,0,0,0,0,0,0,0,0,1
11,17638,2,4,1,66,10,378,140,84,223,...,0,0,1,0,1,0,0,0,1,0
12,18635,2,4,1,35,9,281,82,114,317,...,0,0,0,1,0,1,0,0,0,0
13,18794,2,4,1,18,8,181,115,71,258,...,0,1,0,0,0,0,0,0,0,1
14,5263,2,4,1,60,15,172,31,121,277,...,1,1,0,0,0,0,0,0,0,1
15,17680,2,4,1,25,4,147,128,167,303,...,0,0,0,0,1,0,0,0,1,0
16,18030,2,4,1,41,8,342,101,100,315,...,0,0,1,0,0,1,0,0,0,0
17,18090,2,4,1,54,15,429,71,110,255,...,0,0,0,1,1,0,0,0,1,0
18,18455,2,4,1,66,10,303,47,193,283,...,0,0,0,0,0,0,1,1,0,0
19,18155,2,4,1,47,8,311,86,123,263,...,0,0,0,0,0,0,1,1,0,0
20,18116,2,4,1,25,12,319,99,79,255,...,0,0,0,0,0,1,0,0,0,0
21,18144,2,4,1,46,14,213,74,84,349,...,0,0,1,0,0,1,0,0,0,0
22,5218,2,4,1,21,9,154,83,168,243,...,0,1,0,0,1,0,0,0,1,0
23,5386,2,4,1,41,10,375,71,178,298,...,1,0,0,0,1,0,0,0,1,0
24,18105,2,4,1,26,8,336,96,73,263,...,1,0,0,1,0,0,0,0,0,1
25,5735,2,4,1,60,14,291,49,99,284,...,0,0,0,1,0,1,0,0,0,0
26,5900,2,4,1,63,5,343,100,165,292,...,0,1,0,0,0,0,1,1,0,0
27,18391,2,4,1,28,15,128,42,140,295,...,0,0,0,0,0,1,0,0,0,0
28,5786,2,4,1,32,10,401,63,203,250,...,0,0,1,0,1,0,0,0,1,0
29,18639,2,4,1,51,4,219,106,149,303,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14468,23328,0,11,2,34,4,342,20,129,270,...,0,0,0,1,0,0,1,1,0,0
14469,23293,0,11,2,62,4,423,92,29,258,...,1,0,1,0,1,0,0,0,1,0
14470,23758,0,11,2,31,7,349,30,78,272,...,1,1,0,0,1,0,0,0,1,0
14471,10958,0,11,2,43,3,316,106,31,334,...,0,0,1,0,1,0,0,0,1,0
14472,11101,0,11,2,59,6,311,32,93,269,...,0,0,0,1,1,0,0,0,1,0
14473,11017,0,11,2,59,15,404,24,24,284,...,1,0,0,1,1,0,0,0,1,0
14474,23403,0,11,2,65,5,247,19,110,212,...,0,0,1,0,0,1,0,0,0,0
14475,23665,0,11,2,30,3,290,56,36,205,...,1,0,0,1,0,1,0,0,0,0
14476,10513,0,11,2,35,7,206,31,44,243,...,0,1,0,0,0,0,1,1,0,0
14477,11173,0,11,2,51,5,142,67,21,277,...,1,0,0,1,0,0,1,1,0,0
14478,10187,0,11,2,52,8,251,63,29,324,...,1,1,0,0,1,0,0,0,1,0
14479,10290,0,11,2,38,3,341,28,83,257,...,0,0,0,0,1,0,0,0,1,0
14480,10872,0,11,2,52,13,197,20,41,278,...,0,1,0,0,1,0,0,0,1,0
14481,10338,0,11,2,65,3,215,74,50,275,...,1,0,1,0,1,0,0,0,1,0
14482,10172,0,11,2,44,8,446,23,77,246,...,1,1,0,0,1,0,0,0,1,0
14483,10347,0,11,2,23,4,336,42,39,230,...,0,0,0,0,0,1,0,0,0,0
14484,11226,0,11,2,30,4,391,102,24,295,...,0,0,0,1,1,0,0,0,1,0
14485,10084,0,11,2,47,3,310,25,69,215,...,1,0,0,1,0,0,1,1,0,0
14486,23557,0,11,2,37,5,158,73,20,211,...,0,0,0,1,1,0,0,0,1,0
14487,23598,0,11,2,51,3,414,41,77,233,...,0,0,0,0,1,0,0,0,1,0
14488,23608,0,11,2,63,3,182,38,37,334,...,1,0,0,0,0,0,1,1,0,0
14489,23212,0,11,2,18,3,344,17,71,282,...,0,1,0,0,0,0,1,1,0,0
14490,10661,0,11,2,36,9,330,20,25,222,...,1,1,0,0,0,1,0,0,0,0
14491,10372,0,11,2,60,5,415,30,53,216,...,0,1,0,0,1,0,0,0,1,0
14492,10615,0,11,2,49,3,310,30,28,293,...,0,0,1,0,0,1,0,0,0,0
14493,23737,0,11,2,55,5,417,16,36,346,...,1,0,0,0,0,0,1,1,0,0
14494,11171,0,11,2,44,4,199,22,29,278,...,0,0,0,1,0,1,0,0,0,0
14495,23243,0,11,2,46,6,161,15,28,294,...,0,0,0,1,0,1,0,0,0,0
14496,11199,0,11,2,34,5,174,31,24,227,...,0,0,0,0,1,0,0,0,1,0
14497,10787,0,11,2,27,4,126,16,63,282,...,0,1,0,0,1,0,0,0,1,0

In [64]:
data=pd.DataFrame(res).to_csv('prediction27March.csv')